body {
  font-family: cursive;
}

li {
  text-decoration: none;
  list-style: none;
}

.stylenav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 1em;
}

.styleitems {
  display: flex;
  text-decoration: none;
  gap: 10px;
  align-items: center;
  padding: 1px;
  margin: 1px;
}

.styledate {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#headtittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formadd {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.styleform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stylefooter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 1px solid black;
  margin-top: 1em;
}


#booklist {
  display: flex;
  flex-direction: column;
}

.stylecontact {
  display: flex;
  flex-direction: column;
  font-size: small;
}

.bookElement{
  display: flex;
  justify-content: space-between;
  padding: 0em;
  margin-bottom: 1em;
}

.messageinfo{
  display: flex;
  justify-content: center;
}

.alertMessage{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  width: 30%;
  border-radius: 5px;
}

.success{
  background: #36de36;
  color: white;
}
.alert{
  background: red;
  color: white;
}

.styleInfoMessage{
  display: flex;
  align-items: center;
  justify-content: center;
}
